<div class="card mb-3 col-12 dark-gray-6">
  <div class="row g-0 rounded dark-gray-6">
    <div class="col">
      <div class="card-body">
        <div class="col">
          <h1 class="d-flex align-itens-center">Artistas</h1>
          <a href="/artists/new" class="d-flex justify-content-end mb-4" style="text-decoration:none;"><button class="botao-rosa">Novo</button></a>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Nome</th>
                  <th scope="col" class="text-center">Criado em</th>
                  <th scope="col" class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <div id="artists">
                  <% @artists.each do |artist| %>
                  </div>
                  <tr>
                    <td class="text-center">  <%= tratar_valor(artist.nome) %></td>
                    <td class="text-center">  <%= formatar_data(artist.created_at) %></td>
                    <td class="text-center"><a href="/artists/<%=artist.id %>"><%= image_tag 'settings-gears.png'%></a></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
