<div class="container-msg-excluir">
    <div class="caixa-aviso">
        <div class="w-100">
          <span class="aviso-exclusao-superior"> <%= image_tag 'warning-fill.svg', style: 'margin: 6px;' %> Ações que poderá realizar:</span>
          <span class="aviso-exclusao-meio">O que deseja fazer?</span>
          <span class="aviso-exclusao-inferior"><%= link_to "Voltar", artists_path, class: "botao-voltar" %> <%= button_to "Excluir", @artist, method: :delete, class: "botao-excluir" %> <%= link_to "Editar", edit_artist_path(@artist), class: 'botao-editar' %></span>
        </div>
    </div>
</div>